.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 63px);
}

.form {
    width: 520px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.btn {
    background-color: #007bff;
    border: none;
    width: 100%;
}